.feedbackText {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul li:nth-child(1) .feedbackText {
  color: green;
}

ul li:nth-child(2) .feedbackText {
  color: yellow;
}

ul li:nth-child(3) .feedbackText {
  color: red;
}

ul li:nth-child(4) .feedbackText {
  color: blue;
}
